body{
    margin-top: 70px;
    background: #333;
    color: white
}

.d_Output, .w_Output, .te_Output  {
    display: none;
}

.d_Output.active {
    display: block;
}

.w_Output.active {
    display: block;
}

.te_Output.active {
    display: block;
}
